	<section id="fh5co-home" data-section="home" style="background-image: url(https://aboutme.imgix.net/background/users/m/m/r/mmritesh_1518502045_616.jpg?q=40&dpr=2&auto=format&fit=max&w=1200&h=800);
      background-size: cover;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      padding-bottom: 66.6667%;" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row hero-text-background">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">Ritesh Manjaramkar</h1>
							<h2 class="to-animate">Hey there, I’m Ritesh. I’m a Full stack Web / Hybrid app developer living in Pune, India. I am a Indian classical music lover, I try to express myself through melodies from Bamboo Flute. I also love photography.
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>
